.inputContainer {
    border: 1px solid rgb(48, 48, 48);
    border-radius: 12px;
    display: flex;
    align-items: center;;
    font-family: "Proto Mono";
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
}

.inputContainerClicked {
    border-color: rgb(55, 115, 245);
    outline: none;
}

.input {
    background-color: rgb(8, 4, 4);
    padding: 1px;
    padding-left: 5px;
    font-size: 0.8rem;;
    font-family: "Proto Mono";
    margin: 5px;
    color: rgb(217,217,217);
    border: none;
    outline: transparent solid 2px;
    outline-offset: 2px;
    text-align: left;
    width: 100%;
}
