.sideBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: flex-start;
  border-right: 1px solid rgb(48, 48, 48);
  min-width: 200px;
}

.sideButton {    
    background: rgb(8, 4, 4);
    color: rgb(217, 217, 217);
    font-family: "Proto Mono";
    border:none;
    position:relative;
    font-size: 16px;
    padding: 10px 12px 10px 24px;
    cursor:pointer;
    transition:200ms ease all;
    outline:none;
    width: 100%;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
}

.sideButton:hover {
    background: rgb(55, 115, 245);
}

.sideButtonCurrent {    
    background: rgb(55, 115, 245);
    color: rgb(217, 217, 217);
    font-family: "Proto Mono";
    border:none;
    position:relative;
    font-size: 16px;
    padding: 10px 12px 10px 24px;
    cursor:pointer;
    transition:200ms ease all;
    outline:none;
    width: 100%;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
}
